<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970111352369-cpio857he1u1dokqqhpa2557eu7m6q6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970111352369-cpio857he1u1dokqqhpa2557eu7m6q6u</string>
	<key>API_KEY</key>
	<string>AIzaSyBf_3oZNnmlw-Zov02AWGus4qOslteFSy8</string>
	<key>GCM_SENDER_ID</key>
	<string>970111352369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week132023</string>
	<key>PROJECT_ID</key>
	<string>fluttertutorial3</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertutorial3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970111352369:ios:1e54a84de3061c7e6a9f10</string>
</dict>
</plist>